<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seguridadUnica.Unica">
    <!-- Flutter needs it to commUnicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
